<!-- features -->
<section class="bg-light page-section" id="{{ site.data.sitetext.features.section | default: " features" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7 pull-right">
        <div class="row">
          <div class="col-md-12 title-block">
            <div class="title-block-container">
              <h2>{{site.data.sitetext.features.title}}</h2>
              <div class="line-separator"></div>
            </div>
          </div>
        </div>
        <div class="row">
          {% for features in site.data.sitetext.features.list %}
          <div class="col-md-12 content-block">
            {% if features.desc %}<div class="text-muted">{{ features.desc | markdownify }}</div>{% endif %}
          </div>
          {% endfor %}
        </div>
      </div>

          <div class="col-lg-4 col-lg-offset-0 col-md-5 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <div class="image-block">
              <div class="image-block-container">
                <img src="app-images/login.png" alt="Image Block" />
                <img src="app-images/login-1.png" alt="Image Block" />
              </div>
            </div>
          </div>
        
      
    </div>
  </div>

</section>
<!-- End features -->