<!-----Screenshots------>
<section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
    <div class="section-container">
        <div class="container">
            <div id="portfolio-section-9" class="portfolio-section white-section">
                <div class="section-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                <div class="title-block-container text-center">
                                    <h2>SCREENSHOTS</h2>
                                    <p>Learn music remotely via a smart Android app. We are currently offering only
                                        Violin courses</p>
                                    <div class="line-separator"></div>
                                </div>
                            </div>
                            <div class="col-md-12 screenshots-block">
                                <div class="screenshots-block-container">
                                    <div class="mobile-slider iphone-slider">
                                        <img src="images/mobile-slider/iphone-frame.png" class="iphone-frame"
                                            alt="iPhone Image" />
                                        <div class="mobile-slider-container">
                                            <div class="gfort-swiper-slider" data-swiper-items="1">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <div class="swiper-slide-container">
                                                            <div class="image-block">
                                                                <div class="image-block-container">
                                                                    <img src="images/portfolio-app-thumbs/app-thumbs-001.jpg"
                                                                        alt="Slide Image" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="swiper-slide-container">
                                                            <div class="image-block">
                                                                <div class="image-block-container">
                                                                    <img src="images/portfolio-app-thumbs/app-thumbs-002.jpg"
                                                                        alt="Slide Image" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="screenshots-images-wrapper">
                                        <div class="images-wrapper">
                                            <img src="images/portfolio-app-thumbs/app-thumbs-003.jpg"
                                                alt="Image Block" />
                                            <img src="images/portfolio-app-thumbs/app-thumbs-004.jpg"
                                                alt="Image Block" />
                                        </div>
                                        <div class="images-wrapper">
                                            <img src="images/portfolio-app-thumbs/app-thumbs-005.jpg"
                                                alt="Image Block" />
                                            <img src="images/portfolio-app-thumbs/app-thumbs-001.jpg"
                                                alt="Image Block" />
                                        </div>
                                        <div class="images-wrapper">
                                            <img src="images/portfolio-app-thumbs/app-thumbs-001.jpg"
                                                alt="Image Block" />
                                            <img src="images/portfolio-app-thumbs/app-thumbs-002.jpg"
                                                alt="Image Block" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>        