<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="page-content">
      <div class="wrapper">
        <div class="app">
          {{ content }}      
            <h2>Version 1.0</h2>
            <button class="accordion">Version 1.0</button>
            <div class="panel">
              <h2> Version 1.0 </h2>
              <p>This is the version for testing </p>
              <h2>Bug Fixes</h2>
              <p> some of the problems fixes</p>
              <h2>New Features</h2>
              <p>these are the new fetures . now you learn guitar</p>
              <a href="https://">
               <button class="download-btn" type="button">Download</button></a>
              <br></br>
            </div>
            <br></br>
            <h2>Version 1.1</h2>
            <button class="accordion">Version1.1</button>
            <div class="panel">
              <h2> Version 1.1 </h2>
              <p>This is the version for testing </p>
              <h2>Bug Fixes</h2>
              <p> some of the problems fixes</p>
              <h2>New Features</h2>
              <p>these are the new fetures . now you learn guitar</p>
              <a href="https://">
                <button class="download-btn" type="button">Download</button></a>
              <br></br>
            </div>                        
            </body>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
 
</html>
